.input-area {
	top: 0px;
	left: 70px;
	position: absolute;
	background: rgba(8, 8, 8, 1);
	color: #0091ff;
	width: 85%;
	height: 3.5em;
	padding: 10px;
	border-radius: 25px;
	border: none;
	resize: none;
	text-shadow: 0px 0px 0px #000;
	-webkit-text-fill-color: white;
	overflow: hidden;
}

.ui-listview li .li-text-sub {
	display: block;
	text-overflow: ellipsis;
	line-height: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.ui-listview li.li-has-multiline {
	margin-top: -10px;
	margin-bottom: -15px;
}

.ui-listview.expand-list li.li-has-multiline .ui-li-sub-text{
	-webkit-transform: translate(0, -10px);
	opacity: 0;
}
.ui-listview.expand-list li.li-has-multiline.ui-snap-listview-selected .ui-li-sub-text{
	-webkit-transform: translate3d(0, 0, 0);
	opacity: 1;
	-webkit-transition: all ease 1s;
}