.input-area {
	top: 0px;
	left: 70px;
	position: absolute;
	background: rgba(8, 8, 8, 1);
	color: #0091ff;
	width: 85%;
	height: 3.5em;
	padding: 10px;
	border-radius: 25px;
	border: none;
	resize: none;
	text-shadow: 0px 0px 0px #000;
	-webkit-text-fill-color: white;
	overflow: hidden;
}
